* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
}


.container {
height: 100vh;
}

.navbar {
  background-color: #000000;
  opacity: 0.9;
  width: 230px;
  position: fixed;
  color: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  z-index: 1;
  line-height: 20px;
  font-size: 14px;
}

.content {
  min-height: 100%;
  padding-bottom: 120px;
  padding-left: 230px;
  position: relative;
  text-align: center;
  background-color: lightgreen;
}


.musicplayer {
  width: 30%;
  min-width: 98vw;
  height: 90px;
  display:flex;
  align-items: center;
  padding: 0 16px;
  text-align: center;
  color: white;
  background-color: #282828;
}
