.playlistContainer {
  color: white;
  margin: 0 130px;
}

button {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  color: white;
  opacity: 0.6;
}

button:hover {
  opacity: 1;
}

.img-container {
  position: relative;
}

.img-container img {
  height: 14.0625rem;
  width: 14.0625rem;
  padding: 10px;
}

.playlists {
  text-align: left;
}

.img-container i {
  font-size: 80px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* hover not working  */
.img-container img:hover i {
  opacity: 1;
}
