.navbar {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

#logo {
  font-size: 30px;
  text-align: center;
  padding: 20px;
  font-weight: 400;
}

.nav {
  font-size: 15px;
  color: white;
  opacity: 0.6;
  text-align: left;
  padding: 10px 0 10px 20px;
}

.nav i {
  font-size: 25px;
  padding-right: 5px;
}

li:hover {
  cursor: pointer;
  opacity: 1;

}

li:active {
  border-left:4px solid #1DB954;
}
