.searchContainer {
  display: block;
  height: 907px;
  padding-bottom: 90px;
  padding-left: 230px;
  position: relative;
  text-align: center;
  background: linear-gradient(120deg, #191414, black);
  overflow: auto;
}

.searchbar {
  background-color:#282828;
  color: #535353;
}

#searchBar {
  padding-top: 10px;
  background-color: transparent;
  font-size: 40px;
  line-height: 40px;
  color: white;
  border: 0;
  caret-color: darkgreen;
  margin-bottom: 20px;
}

.results {
  color: #fff;
  background-color: transparent;
}

.description {
  padding-top: 70px;
}
.description h3 {
  color: gray;
}

.song {
  padding: 5px;
  width: 56.25rem;
  margin: 2rem;
}
