.searchContainer {
  display: block;
}

.searchbar {
  background-color:#282828;
  color: #535353;
}

#searchBar {
  padding-top: 10px;
  background-color: transparent;
  font-size: 40px;
  line-height: 40px;
  color: white;
  border: 0;
  caret-color: darkgreen;
  margin-bottom: 20px;
}

.results {
  color: #fff;
  background-color: transparent;
}

.description {
  padding-top: 70px;
}
.description h3 {
  color: gray;
}
