.pic {
  height: 50px;
  width: 30%;
  margin-bottom: 10px;
}

.audio {
  height: 50px;
  width: 30%;
}

#playButton {
  font-size: 20px;
}
.player {
  margin: 15px 0;
  background: #282828;
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audio-controls > .buttons > a {
  font-size: 15px;
  text-decoration: none;
  height: 15px;
  text-align: center;
  opacity: 0.7;
  float:left;
  color: #b3b3b3;
  cursor: pointer;
  width: 31.8px;
}

.buttons {
  display: inline-block;
}

.audio-controls > .buttons >a:hover {
  opacity: 1;
  color: white;
}

.buttons {
  display: flex;
  justify-content: center;
}


.progress {
  left: 95.45px;
  top: 15px;
  right: 100px;
  bottom: 20px;
  background: #404040;
  padding: 0 5px;
  cursor: pointer;
  height: 5px;
  border-radius: 500px;
  width: 640px;
}

.progress > .bar {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.progress > .bar > div {
  left: 0;
  top: 0;
  width: auto;
  bottom: 0;
  font-size: 10px;
  text-align:center;
  background: #B3B3B3;
  height: 5px;
  border-radius: 500px;
}

.progress > .bar > div:hover {
  background: #1DB954;
}


/* Music detail  */
.pic img{
  height: 60px;
  width: 60px;
  display: inline-block;
  margin-right: 10px;
}

.pic img:hover {
  cursor: pointer;
}

.details {
  color:white;
  display: inline-block;
  margin-bottom: 10px;
}

.details h5 {
  color:gray;
}

.fa:hover {
  cursor: pointer;
}

.bottom > div {
  display: inline-block;
}
